# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
/Build
/SellingCoursesAPI
/SellingCoursesAPI/.vs/ProjectEvaluation/sellingcourses.metadata.v7.bin
/SellingCoursesAPI/.vs/ProjectEvaluation/sellingcourses.projects.v7.bin
/SellingCoursesAPI/SellingCourses/bin/Debug/net6.0/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/bin/Debug/net6.0/SellingCourses.pdb
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/ref/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/refint/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.assets.cache
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.csproj.FileListAbsolute.txt
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.GeneratedMSBuildEditorConfig.editorconfig
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.genruntimeconfig.cache
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.pdb
/SellingCoursesAPI/SellingCourses/obj/project.assets.json
/SellingCoursesAPI/SellingCourses/obj/project.nuget.cache
/SellingCoursesAPI/SellingCourses/obj/SellingCourses.csproj.nuget.dgspec.json
/SellingCoursesAPI/SellingCourses/bin/Debug/net6.0/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/bin/Debug/net6.0/SellingCourses.pdb
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/ref/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/refint/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.pdb
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.genruntimeconfig.cache
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.dll
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.csproj.FileListAbsolute.txt
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.assets.cache
/SellingCoursesAPI/SellingCourses/obj/Debug/net6.0/SellingCourses.GeneratedMSBuildEditorConfig.editorconfig
/SellingCoursesAPI/SellingCourses/obj/project.assets.json
/SellingCoursesAPI/SellingCourses/obj/project.nuget.cache
/SellingCoursesAPI/SellingCourses/obj/SellingCourses.csproj.nuget.dgspec.json
/SellingCoursesAPI/.vs/SellingCourses/v17/.suo
/SellingCoursesAPI/.vs/SellingCourses/v17/.futdcache.v2
/SellingCoursesAPI/.vs/SellingCourses/FileContentIndex/6d7831be-6e98-43b0-a4f0-c89a8764d840.vsidx
/SellingCoursesAPI/.vs/SellingCourses/FileContentIndex/6d7831be-6e98-43b0-a4f0-c89a8764d840.vsidx
/SellingCoursesAPI/.vs/SellingCourses/FileContentIndex/832eeb76-c905-4930-afba-1f68b1bb74bc.vsidx
/SellingCoursesAPI/.vs/SellingCourses/FileContentIndex/9935edd8-5826-4513-b914-5603601e03b0.vsidx
/SellingCoursesAPI/.vs/SellingCourses/DesignTimeBuild/.dtbcache.v2
/SellingCoursesAPI/.vs/ProjectEvaluation/sellingcourses.projects.v7.bin
/SellingCoursesAPI/.vs/ProjectEvaluation/sellingcourses.metadata.v7.bin
